@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}

<h2 id='section1' class="font-sans font-bold break-normal text-gray-700 px-2 pb-8 text-xl">Disclaimer</h2>

<!--Card-->
<div class="p-8 mt-6 lg:mt-0 leading-normal rounded shadow bg-white">
    <li>Using the CDN version of <a class="underline text-yellow-600" href="https://github.com/tailwindcss/custom-forms" target="_blank">Tailwind Custom Forms</a></li>
    <li>This template uses jQuery for scrollspy</li>
    <li>This Frm developed individually without SONATRACH Licence</li>

</div>
<!--/Card-->
<!--divider-->